.justify-center
  justify-content: center

.input-field>*
  border: 1px solid #9e9e9e!important
  border-radius: 5px!important
  padding: 0px 8px!important
  margin: 0px -8px!important
.input-field>*.error
  border: 1px solid red!important
  
.input-field>*:focus
  border: 1px solid #094358!important
  -webkit-box-shadow: 0 1px 0 0 #094358!important
  box-shadow: 0 1px 0 0 #094358!important

.input-field
  margin-bottom: 0!important

textarea.materialize-textarea 
  padding: 8px 8px!important
  margin: 0 -8px!important
  min-height: 10rem!important;
  box-sizing: content-box!important; 

.rigth
  float: right !important;

.round
  border-radius: 20px!important
.btn
  text-transform:capitalize!important
.img-100
  width: 100px;
  height: 100px!important;
.image
  border-radius: 5px
.hover-image
  position: absolute;
  top: 0;
  height: 100%;
  background: #0000005e;
  display: flex
  border-radius: 5px
.hover-image>div
  margin: auto;
.relative
  position: relative
.full
  width: 100%
  height 100%
.display-none 
  display: none
.grey-button
  background: #E0E0E0!important
.grey-color
  color: #999!important
.blue-button
  background: #05C7F2!important
  color white!important
.flex
  display: flex
.margin-auto
  margin: auto
.fs-80
  font-size: 80px;
.fs-24
  font-size: 22px;
.text-center
  text-align: center
.width-100 
  width: 100%;
.cabecera {
  border-radius: 2px 2px 0 0;
  background: #094358;
  color: #a7b6bd;
  font-size: 20px;
}